/*Стиль для всего текста на странице*/
body {
    font-family: Arial, sans-serif;
    margin: 20px; /*Отступы снаружи контейнера*/
    padding: 10px; /*Отступы внутри контейнера*/
}

/*точка перед названием класса используется только для
конкретного класса внутри одного проекта (не для всех)*/
.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    color:rgb(175, 192, 158);
}

.header p{
    font-size: 1.2rem;
    color:  #333;
}

.comparison-table table {
    width: 100%;
    margin-top: 20px;
}

.comparison-table th, .comparison-table td {
    padding: 10px; /*отступ от границы*/
    text-align: left;
    border: 1px solid #ddd;
}

.comparison-table th {
    background-color: #f4f4f4;
}

.demo-grid .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.demo-grid .grid-item {
    background-color: rgb(89, 100, 78);
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
